.rTable26Tone
{
	width:20px;
}
.rTable52Tone
{
	width:42px;
}
.rTable106Tone
{
	width:86px;
}
.rTable242Tone
{
	width:196px;
}
.rTable484Tone
{
	width:394px;
}
.rTable996Tone
{
	width:812px;
}

.ruTaken1
 {
     background-color:green;
 }
 .ruTaken2
 {
     background-color:red;
 }
 .ruTaken3
 {
     background-color:blue;
 }
 .ruTaken4
 {
     background-color:yellow;
 }
 .ruTaken5
 {
     background-color:purple;
 }
 .ruTaken6
 {
     background-color:pink;
 }
 .ruTaken7
 {
     background-color:orange;
 }
 .ruTaken8
 {
     background-color:orangered;
 }
 .ruTaken9
 {
     background-color:blueviolet;
 }
 .ruTaken10
 {
     background-color:palevioletred;
 }
 .ruTaken11
 {
     background-color:greenyellow;
 }
 .ruTaken12
 {
     background-color:goldenrod;
 }
 .ruTaken13
 {
     background-color:paleturquoise;
 }
 .ruTaken14
 {
     background-color:turquoise;
 }
 .ruTaken15
 {
     background-color:whitesmoke;
 }