


  
  /* Add Animation */
  @-webkit-keyframes animatetopTC {
    from {top:-300px; opacity:0} 
    to {top:10%; opacity:1}
  }
  
  @keyframes animatetopTC {
    from {top:-300px; opacity:0}
    to {top:10%; opacity:1}
  }
  


  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:20%; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:20%; opacity:1}
  }
  
  

  

  
  .modal-footer-lp {
    padding: 2px 16px;
    background-color: orange;
    color: white;
  }

.rTable { /* ModalBodyLP, UsersTable */
   margin: 0 auto;
   display: block;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{ /* rTableRow, UsersTableHeading, UsersTableBody, UserTableRow */
   clear: both;
}
.rTableHead, .rTableFoot{ /* UsersTableHeading */
   font-weight: bold;
   color: black !important;
}
.noBorder
{
	border: 0px !important;
	text-align:center;
}
.rTableCell /* rTableCell, UserTableRow */
{
border: 1px solid #999999;   
}
.rTableCell, .rTableHead {
   float: left;
   height: 17px;
   overflow: hidden;
   padding: 0px;
   margin: 0px;
   text-align:center;
}
.clickable,.ruavilable /* rTableCell */
{
	cursor:pointer;
}

.hidden{
	display:none;
}
